{% extends '_components/base.twig' %}

{% set offset = offset ?? 0 %}

{% block content %}
    {{ hiddenInput('offset', offset, { id: 'article1-offset' }) }}
    <div class="text-center my-8 space-y-6">
        <div class="text-xs font-bold underline uppercase text-gray-500">
            Article 1
        </div>
        <h2 class="text-xl">
            {{ entry.title }}
        </h2>
        <div class="font-mono">
            Offset: {{ offset }}
        </div>
        <a sprig s-val:offset="{{ offset - 1 }}" class="inline-flex items-center px-2 py-2 rounded-md border border-gray-300">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
        </a>
        <a sprig s-val:offset="{{ offset + 1 }}" class="inline-flex items-center px-2 py-2 rounded-md border border-gray-300">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
        </a>
        <br>
        <button sprig class="inline-flex items-center px-2 py-2 rounded-md border border-gray-300">Refresh</button>
    </div>

    {% if sprig.isRequest %}
        <script>
            htmx.find('#article2-offset').value = htmx.find('#article1-offset').value;
            htmx.trigger('#article2-offset', 'refresh');
        </script>
    {% endif %}

{% endblock %}
