{# @var productQuery \craft\commerce\elements\db\ProductQuery #}
{% set productQuery = craft.products %}

{% set colours = colours ?? [] %}
{% set coloursMobile = coloursMobile ?? [] %}
{% set mobile = mobile ?? false %}
{% if mobile %}
    {% set colours = coloursMobile %}
{% endif %}

{% set deselectColour = deselectColour ?? null %}
{% if deselectColour %}
    {% set colours = colours|filter(value => value != deselectColour) %}
{% endif %}
{% set coloursMobile = colours %}

{% do productQuery.colour(colours) %}

{% set materials = materials ?? [] %}
{% if materials is not empty %}
    {% set materials = ['and']|merge(materials) %}
    {% do productQuery.materials(materials) %}
{% endif %}

{% set brand = brand ?? null %}
{% if brand %}
    {% do productQuery.andRelatedTo(brand) %}
{% endif %}

{% set products = productQuery.all() %}

{% set colourOptions = craft.app.fields.fieldByHandle('colour').options %}
{% set materialOptions = craft.app.fields.fieldByHandle('materials').options %}
{% set brandOptions = craft.entries.section('brands').all() %}

{% set countryOptions = craft.entries.section('countries')
    .relatedTo(brand)
    .all()
%}
{% set country = country ?? null %}

<div class="flex justify-center pb-4 mb-4 border-b">
    <div class="block mr-8">
        {% for colourOption in colourOptions %}
            <input sprig type="checkbox" name="colours[]" id="colours-{{ loop.index }}" value="{{ colourOption.value }}" {{ colourOption.value in colours ? 'checked' }}>
            <label for="colours-{{ loop.index }}">{{ colourOption.label }} [desktop]</label>
            <br>
        {% endfor %}
    </div>
    <div s-val:mobile="1" class="block mr-8">
        {% for colourOption in colourOptions %}
            <input sprig type="checkbox" name="coloursMobile[]" id="coloursMobile-{{ loop.index }}" value="{{ colourOption.value }}" {{ colourOption.value in coloursMobile ? 'checked' }}>
            <label for="coloursMobile-{{ loop.index }}">{{ colourOption.label }} [mobile]</label>
            <br>
        {% endfor %}
    </div>
    <div class="block mr-8">
        {% for materialOption in materialOptions %}
            <input sprig type="checkbox" name="materials[]" id="materials-{{ loop.index }}" value="{{ materialOption.value }}" {{ materialOption.value in materials ? 'checked' }}>
            <label for="materials-{{ loop.index }}">{{ materialOption.label }}</label>
            <br>
        {% endfor %}
    </div>
    <select sprig name="brand" class="form-select mr-3 rounded-md border border-gray-300 text-left text-base font-medium leading-5 text-gray-700 shadow-sm focus:border-sky-600 focus:outline-none focus:ring-1 focus:ring-sky-600 sm:text-md">
        <option value="">All brands</option>
        {% for brandOption in brandOptions %}
            <option value="{{ brandOption.id }}" {{ brandOption.id == brand ? 'selected' }}>
                {{ brandOption.title }}
            </option>
        {% endfor %}
    </select>
    <select sprig name="country" class="form-select mr-3 rounded-md border border-gray-300 text-left text-base font-medium leading-5 text-gray-700 shadow-sm focus:border-sky-600 focus:outline-none focus:ring-1 focus:ring-sky-600 sm:text-md">
        <option value="">All countries</option>
        {% for countryOption in countryOptions %}
            <option value="{{ countryOption.id }}" {{ countryOption.id == country ? 'selected' }}>
                {{ countryOption.title }}
            </option>
        {% endfor %}
    </select>
{#    <button sprig class="rounded-md border border-transparent bg-sky-700 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-2 focus:ring-offset-gray-50">#}
{#        Apply Filters#}
{#    </button>#}
</div>

{% if colours is not empty %}
    <div class="pb-4 mb-4 border-b">
        {% for colourOption in colourOptions %}
            {% if colourOption.value in colours %}
                <span sprig s-val:deselect-colour="{{ colourOption.value }}" class="cursor-pointer inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                    {{ colourOption.label }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="ml-1 w-4 h-4">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm2.78-4.22a.75.75 0 0 1-1.06 0L8 9.06l-1.72 1.72a.75.75 0 1 1-1.06-1.06L6.94 8 5.22 6.28a.75.75 0 0 1 1.06-1.06L8 6.94l1.72-1.72a.75.75 0 1 1 1.06 1.06L9.06 8l1.72 1.72a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                    </svg>
                </span>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<section id="results" aria-labelledby="cart-heading" class="lg:col-span-7">
    <ul role="list" class="space-y-4">
        {% if products|length %}
            {# @var product \craft\commerce\elements\Product #}
            {% for product in products %}
                <li class="product flex p-4">
                    <div class="flex-shrink-0">
                        {% set image = product.image.eagerly().one() %}
                        {% if image %}
                            <img src="{{ image.url }}" alt="{{ image.title }}" class="h-24 w-24 rounded-md object-cover object-center sm:h-36 sm:w-36"/>
                        {% endif %}
                    </div>
                    <div class="ml-4 flex flex-1 flex-col justify-between sm:ml-6">
                        <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
                            <div>
                                <div class="flex justify-between">
                                    <h3 class="text-md">
                                        <a class="font-medium text-gray-700 hover:text-gray-800">
                                            {{ product.title }}
                                        </a>
                                    </h3>
                                </div>
                                <p class="mt-1 text-md font-medium text-gray-900">
                                    {{ product.defaultPriceAsCurrency }}
                                </p>
                            </div>
                            <div class="mt-4 sm:mt-0 sm:pr-9">
                                <button type="submit" class="mt-4 rounded-md border border-transparent bg-sky-700 px-2 py-1 text-base font-medium text-white shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-600 focus:ring-offset-2 focus:ring-offset-gray-50">
                                    View Product
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li class="flex p-4">
                No products found
            </li>
        {% endif %}
    </ul>
</section>

<script>
    htmx.find('#counter').value = {{ products|length }};
</script>
